@{
    ViewBag.Title = "Home Page";
}

@using ExperimentApp.Infrastructure


<div class="jumbotron">
    <center>
        <br /><br /><br /><br /><br />
        <h1>EPIC</h1>
        <p class="lead" style="font-size:xx-large">Welcome to the EPIC experiment</p>
        <p style="font-size:xx-large">@Html.ActionLink("Start Experiment", "Create", "Participant")</p>
    </center>
</div>
